<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col gap-10 max-w-[90%] mx-auto w-screen bg-gray-950 text-gray-300"
  >
    <h1 class="text-2xl font-bold mt-10">Marked Questions Collection</h1>

    <div id="questions-container" class=""></div>
  </body>

  <script src="{{url_for('static', filename='marked.js')}}"></script>
</html>
