<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
  </head>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  <body
    class="flex flex-col gap-10 max-w-[90%] mx-auto w-screen bg-gray-950 text-gray-300"
  >
    <h1 class="text-2xl font-bold mt-10">Old Questions Collection</h1>
    <div class="">
      <form>
        <input
          type="text"
          name="search"
          id="filter"
          placeholder="Search for Questions"
          class="border-2 border-gray-900 bg-gray-900 rounded-md w-full p-2"
        />
      </form>
    </div>

    <div class="bg-gray-900 text-white p-4 rounded-md">
      <h3 class="text-2xl font-semibold mb-5">Stat Counter</h3>
      <div class="flex justify-between">
        <div class="text-center text-yellow-500">
          <h4 class="text-md">Total Questions</h4>
          <span id="ongoing-count" class="counter text-2xl font-bold"></span>
        </div>
        <div class="text-center text-green-500">
          <h4 class="text-md">Completed Questions</h4>
          <span id="completed-count" class="counter text-2xl font-bold"></span>
        </div>
        <div class="text-center text-red-500">
          <h4 class="text-md">Confused Questions</h4>
          <span id="confusion-count" class="counter text-2xl font-bold"></span>
        </div>
      </div>
    </div>

    <div id="questions-container"></div>

    <script src="{{url_for('static', filename='unitscript.js')}}"></script>
  </body>
</html>
