<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
  </head>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  <body
    class="flex flex-col gap-10 max-w-[90%] mx-auto w-screen bg-black text-white"
  >
    <div class="top-0 sticky py-5" id="search-container">
      <h1 class="text-2xl font-bold mt-5">Old Questions Collection</h1>
      <div class="py-2 mt-4">
        <form>
          <input
            type="text"
            name="search"
            id="filter"
            placeholder="Search for Questions"
            class="border-2 border-white bg-zinc-900 rounded-md w-full p-2"
          />
        </form>
      </div>
    </div>

    <div class="bg-zinc-900 text-white -mt-8 p-4 rounded-md">
      <h3 class="text-2xl font-semibold mb-5">Stat Counter</h3>

      <div class="flex justify-around">
        <div class="text-center text-green-500">
          <h4 class="text-md">Completed Questions</h4>
          <span id="completed-count" class="counter text-2xl font-bold"></span>
        </div>
        <div class="text-center text-red-500">
          <h4 class="text-md">Confused Questions</h4>
          <span id="confusion-count" class="counter text-2xl font-bold"></span>
        </div>
      </div>
    </div>

    <div id="questions-container"></div>
    <div class="absolute sticky bottom-0 right-0">
      <button
        class="bg-gray-600 text-white p-4 rounded-full"
        id="scroll-button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 inline-block"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 11l7-7 7 7M5 19l7-7 7 7"
          />
        </svg>
      </button>
    </div>
    <script src="{{url_for('static', filename='unitscript.js')}}"></script>
  </body>
</html>
