<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
  </head>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  <body
    class="flex flex-col gap-10 max-w-[90%] mx-auto w-screen bg-gray-950 text-gray-300"
  >
    <h1 class="text-2xl font-bold mt-10">Old Questions Collection</h1>
    <div class="">
      <form>
        <input
          type="text"
          name="search"
          id="filter"
          placeholder="Search for Questions"
          class="border-2 border-gray-900 bg-gray-900 rounded-md w-full p-2"
        />
      </form>
    </div>

    <div id="questions-container"></div>

    <script src="{{url_for('static', filename='unitscript.js')}}"></script>
  </body>
</html>
